extends layout

block content
	.row
		.center-align
			h2 !{info.coinName} faucet
		h3 Faucet information
		div(style="display:inline-flex").col.s12
			iframe(scrolling="no", style="margin:0 auto; border: 0; width: 728px; height: 90px;", src=`//coinurl.com/get.php?id=${info.coinurl}&SSL=1`)
		div.col.s12
			div.card-panel.blue-grey.lighten-5
				p Faucet balance !{balance}
				p Payouts: minumum - !{info.minClaim}, maximum !{info.maxClaim}, every !{info.interval} hours per IP or !{info.coinName} address
				p !{info.coinName} faucet donation address - !{info.address}
				p No Proxy or TOR IP addresses due to abuse
				p Claims are processed every 30 minutes in bulk so the payment might be delayed
		h3 Claim your !{info.coinName} !
		div.col.s12
			.card.blue-grey.lighten-5
				form(method='POST', action='/')
					.card-content
						label(for='address') Enter your !{info.coinName} address
						br
						input(type='text', name='address', class='address', placeholder=`Enter your ${info.coinName} address`)
						| !{captcha}
					.card-action
						input(class="btn waves-effect waves-light  blue-grey" type='submit', value=`Submit Recaptcha and claim ${info.coinName} coins now!`)
					p.message #{message}
					p.error #{error}
		if addressBalance
			p !{JSON.stringify(addressBalance)}
		h3 Where to buy and trade !{info.coinName}?
		div.col.s12
			div.card-panel.blue-grey.lighten-5
				a(href="https://novaexchange.com/market/BTC_ONION/?re=pud127q1c1b3989waadm") novaexchange.com
		br
		h3 About !{info.coinName}
		div.col.s12
			div.card-panel.blue-grey.lighten-5
				p.flow-text !{info.coinInfo}


