extends layout

block content
	h1 here be faucet
	p faucet balance !{balance}
	form(method='POST', action='/')
		label(for='address') Enter your DeepOnion address
		input(type='text', name='address', class='address', placeholder=`Enter your ${coinName} address`)
		| !{captcha}
		input(type='submit', value=`Submit Recaptcha and claim ${coinName} coins now!`)
	p #{message}
	p #{error}