extends layout

block content
	.row
		.center-align
			h2 !{info.coinName} faucet
		h2 Faucet information
		div.col.s12
			div.card-panel.blue-grey.lighten-5
				p Faucet balance !{balance}
				p Payouts: minumum - !{info.minClaim}, maximum !{info.maxClaim}, every !{info.interval} hours per IP or !{info.coinName} address
				p !{info.coinName} faucet donation address - !{info.address}
				p No Proxy or TOR IP addresses due to abuse
				p Claims are processed every 30 minutes in bulk so the payment might be delayed 
		form(method='POST', action='/')
			label(for='address') Enter your !{info.coinName} address
			br
			input(type='text', name='address', class='address', placeholder=`Enter your ${info.coinName} address`)
			| !{captcha}
			input(type='submit', value=`Submit Recaptcha and claim ${info.coinName} coins now!`)
		p.message #{message}
		p.error #{error}

		h3 Where to buy and trade !{info.coinName}?
		p.flow-text 
			|
			a(href="https://novaexchange.com/market/BTC_ONION/?re=pud127q1c1b3989waadm") novaexchange.com
		br
		h3 About !{info.coinName}
		div.col.s12	
			div.card-panel.blue-grey.lighten-5
				p !{info.coinInfo}


