extends layout

block content
	.row
		.center-align
			h2 !{info.coinName} faucet
		h3 Faucet information
		div(style="display:inline-flex").col.s12
			iframe(data-aa=`${info.aads}`, src=`//ad.a-ads.com/${info.aads}?size=728x90`, scrolling="no", style="margin:0 auto;width:728px; height:90px; border:0px; padding:0;overflow:hidden", allowtransparency="true")
		div.col.s12
			div.card-panel.blue-grey.lighten-5
				table.responsive-table
					thead
						tr
							th Faucet Balance
							th Min Claim
							th Max Claim
							th Claim Interval
							th Threshold (min. payout)
							th Tor IPs
							th Proxy IPs
							th Payment Interval
							th Refferal Commision
					tbody
						tr
							td !{balance}
							td !{info.minClaim}
							td !{info.maxClaim}
							td !{info.interval} h
							td !{info.treshold}
							td no
							td no
							td 30 min
							td !{info.referralCommision} %
				p !{info.coinName} faucet donation address - !{info.address}.
				p No Proxy or TOR IP addresses due to abuse.
				p Affiliate link - https://!{info.siteName}/?ref=#{'<'}your !{info.coinName} address#{'>'}
		if messages.ainfo
			h3 Your !{info.coinName} address statistics
			div.col.s12
				div.card-panel.blue-grey.lighten-5
					table.responsive-table.wide
						thead
							tr
								th !{info.coinName} Address
								th Unpaid Balance
								th Referred By
								th Your Referral Count
								th Your Referral Commision
								th Total
						tbody
							tr
								td !{messages.ainfo[0].address || ""}
								td !{messages.ainfo[0].unpaid || "0"}
								td !{messages.ainfo[0].referredBy || "-"}
								td !{messages.ainfo[0].referralCount || "0"}
								td !{messages.ainfo[0].referralCommision || "0"}
								td !{messages.ainfo[0].totalBalance || "0"}
					p Your affiliate link - https://!{info.siteName}/?ref=!{messages.ainfo[0].address}
		h3 Claim your !{info.coinName} !
		div.col.s12
			.card.blue-grey.lighten-5
				form(method='POST', action='/')
					.card-content
						if (referralAddress !== undefined)
							input(type="hidden", name="ref" value=`${referralAddress}`)
						input(type='hidden', name='_csrf', value=_csrf)
						label(for='address') Enter your !{info.coinName} address
						br
						input(type='text', name='address', class='address', placeholder=`Enter your ${info.coinName} address`)
						| !{captcha}
					.card-action
						input(class="btn waves-effect waves-light  blue-grey" type='submit', value=`Submit Recaptcha and claim ${info.coinName} coins now!`)
					p.message #{message}
					p.error #{error}
		if (exchanges && exchanges.length > 0)
			h3 Where to buy and trade !{info.coinName}?
			div.col.s12
				div.card-panel.blue-grey.lighten-5
					for exchage in exchanges
						a(href=`${exchage.url}`) !{exchage.name}
		br
		h3 About !{info.coinName}
		div.col.s12
			div.card-panel.blue-grey.lighten-5
				p.flow-text !{info.coinInfo}


