extends layout

block content
	.row
		.center-align
			h2 !{info.coinName} faucet
		h3 Faucet information
		div(style="display:inline-flex").col.s12
			iframe(scrolling="no", style="margin:0 auto; border: 0; width: 728px; height: 90px;", src=`//coinurl.com/get.php?id=${info.coinurl}&SSL=1`)
		div.col.s12
			div.card-panel.blue-grey.lighten-5
				p Faucet balance !{balance}.
				p Payouts: minumum - !{info.minClaim}, maximum !{info.maxClaim}, every !{info.interval} hours per IP or !{info.coinName} address.
				p !{info.coinName} faucet donation address - !{info.address}.
				p No Proxy or TOR IP addresses due to abuse.
				p Your address should have at least !{info.treshold} balance of !{info.coinName}  before widthrawal will be made.
				p Claims are processed every 30 minutes in bulk so the payment might be delayed.
		if messages.ainfo
			h3 Your !{info.coinName} address statistics
			div.col.s12
				div.card-panel.blue-grey.lighten-5
					table.responsive
						thead
							tr
								th !{info.coinName} Address
								th Unpaid Balance
								th Referred By
								th Your Referral Count
								th Your Referral Commision
								th Total
						tbody
							tr
								td !{messages.ainfo[0].address || ""}
								td !{messages.ainfo[0].unpaid || "0"}
								td !{messages.ainfo[0].referredBy || "-"}
								td !{messages.ainfo[0].referralCount || "0"}
								td !{messages.ainfo[0].referralCommision || "0"}
								td !{messages.ainfo[0].totalBalance || "0"}
									
					//- for info in messages.ainfo
					//- 	p
					//- 	| #{info}
		h3 Claim your !{info.coinName} !
		div.col.s12
			.card.blue-grey.lighten-5
				form(method='POST', action='/')
					.card-content
						if (referralAddress !== undefined)
							input(type="hidden", name="ref" value=`${referralAddress}`)
						label(for='address') Enter your !{info.coinName} address
						br
						input(type='text', name='address', class='address', placeholder=`Enter your ${info.coinName} address`)
						| !{captcha}
					.card-action
						input(class="btn waves-effect waves-light  blue-grey" type='submit', value=`Submit Recaptcha and claim ${info.coinName} coins now!`)
					p.message #{message}
					p.error #{error}
		if (exchanges && exchanges.length > 0)
			h3 Where to buy and trade !{info.coinName}?
			div.col.s12
				div.card-panel.blue-grey.lighten-5
					for exchage in exchanges
						a(href=`${exchage.url}`) !{exchage.name}
		br
		h3 About !{info.coinName}
		div.col.s12
			div.card-panel.blue-grey.lighten-5
				p.flow-text !{info.coinInfo}


